{% extends "layout.njk" %}
{% block title%}
    <title>Video-Rocketseat</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h3>{{video.title}}</h3>
    </div>
    <section class="video">

        <div class="card_video" id="{{video.id}}">

                <iframe src="https://www.youtube.com/embed/{{video.id}}" frameborder="0"></iframe>
        </div>
      
    </section>

    <script src="/script.js"></script>
    
{% endblock %}